$white-color: #FFF5E8;
$lightest-color: #FFE9CC;
$lighter-color: #FFDAAA;
$light-color: #D4A66A;
$base-color: #AA7939;
$dark-color: #805115;
$darker-color: #553000;

*{
    padding: 0;
    margin: 0;
}