@import '../../asserts/css/base.scss';

.effect-list {
    padding-left: 20px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;

    li {
        width: 100px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        color: $lighter-color;
        border: 1px solid $base-color;
        border-radius: 6px;
        background-color: $base-color;
        cursor: pointer;
        margin-right: 20px;
    }
}