@import '../asserts/css/base.scss';

.container {
    display: flex;
    height: 870px;

    .function-nav {
        width: 200px;
        min-width: 200px;
        background: $light-color;
    }

    .image-container {
        flex: 1;
        background: $white-color;
        min-width: 500px;
    }
}

.feature-container{
    height: 120px;
    border-top: $light-color 1px solid;
    background: $lighter-color;
    min-width: 700px;
}